#root,
.app {
  height: inherit;
}

.app {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .title {
    z-index: 10;
    font-size: 2.25rem;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
  }

  @media screen and (max-width: 1231px) {
    justify-content: flex-start;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}