
@font-face {
  font-family: 'Exo 2';
  src: url('./fonts/Exo2.0-Thin.otf') format('truetype'),
  url('./fonts/Exo2-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0.67em;
  text-align: center;
}

ul {
  list-style-type: none;
}

:root {
  height: 100%;
}

body {
  height: inherit;
  font-family: -apple-system, 'Exo 2', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
